<link href="__PUBLIC__/css/banner.css" rel="stylesheet" />
<div class="col-lg-6">
	<div id="banner">
		<div class="main banner">
			<ul class="img">
				{foreach name="banners" item="banner"}
				<li><a href="{$banner.url}?id={$banner.conid}"><img src="{:formatUrl($banner.img)}" alt=""></a></li>
				{/foreach}
			</ul>
			<ul class="num"></ul>
			<div class="btn btn_l"><img src="__PUBLIC__/images/arrow_l.png" alt="" /></div>
			<div class="btn btn_r"><img src="__PUBLIC__/images/arrow_r.png" alt="" /></div>
		</div>
	</div>
</div>
<br/>
<script src="__PUBLIC__/js/banner/js/gdlb.js"></script>
<script>
	imgscroll('#banner');
</script>