{include file="Common/top" title="首页" metas='' /}
<style>
	.index-wel-wrapper{
		width:350px;
		margin:200px auto;
	}
	.index-wel{
		width:100px;
		height:100px;
		border-radius:200px;
		border:1px solid gray;
		float:left;
		font-size:60px;
		line-height:100px;
		text-align:center;
	}
	.index-wel-r{
		margin-left:150px;
	}
</style>
<div class="main-container">
	<div class="padding-md">
		<div class="index-wel-wrapper">
			<div class="index-wel index-wel-l">欢</div>
			<div class="index-wel index-wel-r">迎</div>
		</div>
	</div>
</div><!-- /main-container -->
<script>
	$('#lab-nav1').addClass('active');
</script>
{include file="Common/bottom" /}
