{include file="Common/top" title="联系我们" metas='' /}
<script>
    $('#nav .main a').eq(5).addClass('cur');
</script>
<link href="__PUBLIC__/css/member-info.css" rel="stylesheet" />
<div id="sec-info">
    <div class="main">
        <div class="con">
            <ul class="share" style="display: none">
                <li><img src="__PUBLIC__/images/wechat.png" alt="" /></li>
                <li><img src="__PUBLIC__/images/qq.png" alt="" /></li>
                <li><img src="__PUBLIC__/images/weibo.png" alt="" /></li>
                <li><img src="__PUBLIC__/images/friends.png" alt="" /></li>
            </ul>
            <div class="main-img-div">
                <img src="{:formatUrl($info.img)}" alt="" />
                <div class="mask"></div>
                <h2>{$info.name}</h2>
            </div>
            <div class="info clearFix">
                <div class="i-l fl">
                    <div class="i-l-t">
                        {$info.research_area}
                    </div>
                </div>
                <div class="i-r fl">
                    {$info.descr}
                    <h3>联系方式：{$info.phone}</h3>
                    <h3>常用邮箱：{$info.email}</h3>
                    <h3>联系地址：{$info.address}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="Common/bottom" /}